<div>
  <header class="inventories">
    <h1>TRANSACTIONS</h1>
    <ul>
      <li><%= link_to "Most recent" %></li>
      <li><%= link_to "Most ancient" %></li>
    </ul>
  </header>
  <main>
  </main>
  <footer>
    <p><%= link_to "NEW TRANSACTION", create_inventory_path %></p>
  </footer>
</div>
